// Redaction/Essay Page
@import "global";

body.pg-redacao_tema_envios {
	 .panel-title {
		& > img {
			border-bottom-left-radius: 5px;
			border-top-left-radius: 5px;
		}

		& > span.label {
			background: transparent !important;
			border: 1px solid $border !important;
		}
	 }

	.list-group-item.lyteframe.lyteforce.iframe,
	.col-sm-12.col-xs-12 > .tile.tile-info {
		background: transparent !important;
		border: 1px solid $border !important;
	}
}