// Users and Classes Page
@import "global";

body.pg-usuarios_turmas {
	a.btn.btn-success.pull-right.btn-lg.lytediv {
		background: $success !important;

		&:hover {
			background: $success-hover !important;
		}
	}
	
	a.col-md-2.col-sm-3.col-xs-6 {
		border-radius: 5px;

		& > img {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
	}

	.btn.btn-info.btn-block {
		background: $button !important;
	}

	.fc-view.fc-listWeek-view.fc-list-view.fc-widget-content {
		border: 0 !important;

		.fc-list-table td {
			border: none !important;
		}

		.fc-list-item {
			& * {
				background: transparent !important;
				border: 0 !important;
			}

			&:hover {
				background: $hover !important;
			}

			.fc-list-item-marker.fc-widget-content:hover {
				background: transparent !important;
			}
		}
	}
}